@{
    ViewBag.Title = "Home Page";
}

<h2></h2>

<div class="panel panel-info" id="">
    <div class="panel-heading">
        <h3>Knockout Demo</h3>
    </div>

    <ul class="list-group">

        <li class="list-group-item">
            @Html.ActionLink("Basic Form Demo", "BasicForm")
        </li>
        

        <li class="list-group-item">
            @Html.ActionLink("Subscription Demo", "Subscription")
        </li>


        <li class="list-group-item">
            @Html.ActionLink("Click Demo", "Click")
        </li>


        <li class="list-group-item">
            @Html.ActionLink("Validation Demo", "Validation")
        </li>


        <li class="list-group-item">
            @Html.ActionLink("Extender Demo", "Extender")
        </li>


        <li class="list-group-item">
            @Html.ActionLink("Template Demo", "Template")
        </li>


        <li class="list-group-item">
            @Html.ActionLink("Binding Handler Demo", "BindingHandler")
        </li>


        <li class="list-group-item">
            @Html.ActionLink("Todo Demo", "BasicTodo")
        </li>


    </ul>
</div>